@import 'normalize' ;
@import 'mediaelementplayer' ;
@import url('https://fonts.googleapis.com/css?family=Orbitron|Source+Code+Pro');
/*My Awesome Styling */

body{
    background: black;
}

/* Letter Styling */
h1{
    color:blue;
    font-family: 'Orbitron', sans-serif;
}

p{
    color:aqua;
    font-family: 'Source Code Pro', monospace;
}

/* layout */
.page{
    display:flex;
}

header,
section,
main,
article,
aside,
footer{
    flex: 1;
}