/*My Awesome Styling */

body{
    background: black;
}

/* Letter Styling */
h1{
    color:#03ec02;
    font-family: 'Orbitron', sans-serif;
}

p{
    color:aqua;
    font-family: 'Source Code Pro', monospace;
}

/* layout */
.page{
    display:flex;
    flex-direction: column;
}

header,
section,
main,
article,
aside,
footer{
    flex: 1;
}

video{
 max-width: 100%;
    max-height: 100%;
}

// Overriding the default styline
.mejs__currenttime {
    background: lime;
}